[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "JuliaConnectoR"]
	path = JuliaConnectoR
	url = https://github.com/stefan-m-lenz/juliaconnector
